<form class="layui-form" lay-filter="add-code-form">
    <div class="layui-form" lay-filter="layuiadmin-add-code" id="layuiadmin-add-code"
         style="padding: 20px 30px 0 0;">

        <div class="layui-form-item">
            <label class="layui-form-label">追加数量</label>
            <div class="layui-inline">
                <script type="text/html" template>
                    <input type="text" name="amount" value="" lay-filter="amount-edit" id="amount-edit" lay-verify="amount"
                           autocomplete="off"
                           class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-inline">
                <input type="password" name="password" value="" lay-filter="password-edit" id="password-edit" lay-verify="password"
                       autocomplete="new-password"
                       class="layui-input">
            </div>
        </div>

        <div class="btn-wrapper">
            <input type="button" lay-submit lay-filter="append-code-submit" value="提交" id="commit"
                        class="layui-btn layui-btn-theme">
            <button class="layui-btn layui-btn-primary" type="button" id="cancelBtn">取消</button>
        </div>
    </div>
</form>

<script>
    layui.data.sendParams = function (params) {
        layui.use('exchange_code/append', function () {
            $.sendAppendParams(params);
        });
    };
</script>

<script type="text/html" template lay-done="layui.data.sendParams(d.params)">

</script>
