<div class="content" id="content-alert" style="padding: 0px;">

    <div class="layui-tab layui-tab-brief" lay-filter="otherTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item base_info">

                    </div>
                </form>
            </div>
            <!--            <div class="layui-tab-item">-->
            <!--                <form class="layui-form layui-form-pane playerSearch">-->
            <!--                    <div class="layui-form-item" id="playerSearch">-->
            <!--                        &lt;!&ndash;                    内容需要渲染&ndash;&gt;-->
            <!--                    </div>-->
            <!--                    <div class="layui-form-item">-->
            <!--                        <button type="button" class="layui-btn layui-btn-theme">查询</button>-->
            <!--                        <button type="button" class="layui-btn layui-btn-primary">重置</button>-->
            <!--                    </div>-->
            <!--                </form>-->
            <!--                <table id="aaa"></table>-->
            <!--            </div>-->
        </div>
    </div>



</div>
