<form class="layui-form" action="">
    <div class="layui-row">
        <div class="layui-col-xs4">
          <div class="layui-form-item">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 70px;" >
              <legend>请选择游戏</legend>
            </fieldset>
            <div class="layui-input-inline" style="position: relative;left: 30px">
<!--               <div class="layui-unselect layui-form-checkbox">-->
<!--                    <span>游戏1</span>-->
<!--                    <i class="layui-icon layui-icon-ok"></i>-->
<!--                </div>-->
              <!--layui的复选框组件可以不写-->
              <input type="checkbox" name="game" title="游戏1" lay-filter="oneCheckGame" value="1" checked>
              <input type="checkbox" name="game" title="游戏2" lay-filter="oneCheckGame" value="2">
              <input type="checkbox" name="game" title="游戏3" lay-filter="oneCheckGame" value="3">
              <input type="checkbox" name="game" title="游戏4" lay-filter="oneCheckGame" value="4">
              <input type="checkbox" name="game" title="游戏5" lay-filter="oneCheckGame" value="5">
              <input type="checkbox" name="game" title="游戏6" lay-filter="oneCheckGame" value="6">
              <input type="checkbox" name="game" title="游戏7" lay-filter="oneCheckGame" value="7">
              <input type="checkbox" name="game" title="游戏8" lay-filter="oneCheckGame" value="8">
              <input type="checkbox" name="game" title="游戏9" lay-filter="oneCheckGame" value="9">
              <input type="checkbox" name="game" title="游戏10" lay-filter="oneCheckGame" value="10">
              <input type="checkbox" name="game" title="游戏10" lay-filter="oneCheckGame" value="11">
              <input type="checkbox" name="game" title="游戏10" lay-filter="oneCheckGame" value="12">
            </div>
          </div>
        </div>
        <div class="layui-col-xs8">
          <fieldset class="layui-elem-field layui-field-title" style="margin-top: 70px;">
            <legend>已开启权限平台</legend>
          </fieldset>
          <div class="layui-form-item">
            <label class="layui-form-label">平台分组1：</label>
            <div class="layui-input-block">
              <input type="checkbox" name="platform" title="平台1" lay-filter="oneCheckPlatform" value="123">
              <input type="checkbox" name="platform" title="平台1" lay-filter="oneCheckPlatform" value="123">
              <input type="checkbox" name="platform" title="平台1" lay-filter="oneCheckPlatform" value="123">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">平台分组2：</label>
            <div class="layui-input-block">
              <input type="checkbox" name="platform" title="平台2" lay-filter="oneCheckPlatform" value="456">
              <input type="checkbox" name="platform" title="平台2" lay-filter="oneCheckPlatform" value="456">
              <input type="checkbox" name="platform" title="平台2" lay-filter="oneCheckPlatform" value="456">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">平台分组3：</label>
            <div class="layui-input-block">
              <input type="checkbox" name="platform" title="平台3" lay-filter="oneCheckPlatform" value="789">
              <input type="checkbox" name="platform" title="平台3" lay-filter="oneCheckPlatform" value="789">
              <input type="checkbox" name="platform" title="平台3" lay-filter="oneCheckPlatform" value="789">
            </div>
          </div>
      </div>
    </div>
</form>
<style type="text/css">
  .layui-form-item .layui-form-checkbox{
    margin-bottom: 30px;
  }
  .layui-form-checkbox span{
    font-size:20px;
  }
  .layui-input-block{
    margin-bottom: 100px;
    margin-left: 129px;
  }
  .layui-form-label{
    width: 100px;
    font-size: 17px;
  }
  .layui-input-inline{
    /*border: 1px solid red;*/
    height: 630px;
    overflow-x: hidden;
    padding-right: 150px;
  }
  .layui-input-inline::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .layui-input-inline::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
  }
  .layui-input-inline::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
  }
</style>
<script>
  layui.use( 'form', function() {
    var $ = layui.$;
    var form = layui.form;
    console.log('默认选中第一个游戏ID:', $('input[name="game"]:first').val());
    // $("input[name='game'][value='1']").attr("checked","checked");
    //各种基于事件的操作，下面会有进一步介绍
    form.on('checkbox(oneCheckGame)', function(data){
      $("input[name='game']").prop("checked", false);
      $(this).prop("checked", true);
      form.render('checkbox');
    });
    form.on('checkbox(oneCheckPlatform)', function(data){
      $("input[name='platform']").prop("checked", false);
      $(this).prop("checked", true);
      form.render('checkbox');
      console.log('选中的平台ID:', $(this).val());
    });
  });
</script>