<style>
    #checkUserDialog {
        padding: 20px;
    }
    .red {
        color: red;
    }
    .green {
        color: green;
    }
</style>
<!--补单失败结果详情-->
<div id="checkUserDialog">
    <blockquote class="layui-elem-quote">
        <span>玩家数量：<span class="span_num"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="green">校验成功：<span class="span_num"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="red">校验失败：<span class="span_num"></span></span>
    </blockquote>
    <table id="check_user_dialog"></table>
</div>
